.chat-box {
    width: max-content;
    max-width: 70% !important;
    padding: 5px 10px;
}

.others {
    margin-right: auto;
}

.self {
    margin-left: auto;
    text-align: right;
}

.self .chat-message {
    background: rgb(9, 168, 9);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    color: white;
    text-align: left;
}

.others .chat-message {
    background: gainsboro;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    color: black;
}

.sender-name {
    padding: 5px;
    font-size: small;
    color: white;
    margin-left: auto !important;
}

.time-stamp {
    font-size: x-small;
}