.chat-message {
    width: max-content;
    max-width: 70% !important;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.others {
    background: gainsboro;
    color: black;
    margin-left: 10px;
}

.self {
    background: rgb(9, 168, 9);
    color: white;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}

.sender-name {
    padding: 5px 10px;
    color: white;
}